body{
    background-color: rgb(168, 196, 168);
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    text-transform: capitalize;
    color: aliceblue;
    font-weight: bold;
    background-color: rgb(39, 231, 81);
}
